#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .title {
  color: rgb(75, 75, 75);
} */

/* .card {
  padding: 2em;
} */

#app {
margin: 5;
padding: 5;

}
p {
  font-size: 12;
}

/* button {
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 10px;
} */

.pendingHeader {
  background-color: rgb(167, 167, 167);
}

.mainButton {
  background-color: darkgreen;
  border-color: black;
  padding: 9px;
}

.mainButton:hover {
  background-color: darkolivegreen;
}

/* .justify-content-start {
  border-radius: 5px;
  background-color: #242424
} */
.logo {
  padding-top: 0;
  left: 10px;
  padding-bottom: 0;
  position: relative;
  justify-content: center;
  display: block;
  max-height: 100%;
}

.navbar {
  background-color: #242424;
  border-radius: 5px;
}