#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  color: rgb(75, 75, 75);
}

.card {
  padding: 2em;
}

#app {
margin: 5;
padding: 5;
}
p {
  font-size: 12;
}

/* button {
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 10px;
} */